@charset "UTF-8";

/* For the whole page */

* {
  margin: 0;
  padding: 0;
}

/* Style for the image container */
.picture {
  width: 60vw;
  height: 100vh; /* full screen height */
  background: url("../images/Vector.png") no-repeat center center;
  background-size: cover;
  margin:0;
  padding:0;
}

/* Style for the main container */
.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.loginform{
	  width: 40vw;
	  height: 100vh; /* full screen height */
   	  background-color: #FFFFFF;
	  background-size: fill;
	  margin:0;
	  padding:0;
}
.row{
	margin-top:50px;
	height: 10px; 
	width: 100px
}
.col{
	border: 2px solid black;
	border-radius: 5px;
	height: 10px;
	width:100px;
}





